doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@400;600&display=swap', rel='stylesheet')
    link(rel='stylesheet' href='style.css')
    title What sound does a giraffe make?
  body
    .page-wrapper
      block navigation
      
      .wrapper
        block content

        block footer
          footer.footer
            span.copyright ©2020 Nancy Huynh

      .modal-overlay
    //- script for all pages
    script(src='scripts/script.js')
    block scripts