:root {
  --navy: #020066;
  --black: #272727;
  --blue: #0564BD;
  --skyblue: #CCE7FF;
  --raleway: 'Raleway', sans-serif;
  --poppins: 'Poppins', sans-serif;
}

html {
  font-size: min(max(14px, 2vw), 18px);
  font-family: var(--poppins);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
/*  border: solid 1px red;*/
}

.page {
  display: grid;
}

.primary-nav {
  position: relative;
  z-index: 3;
  padding-top: 3.5rem;
  display: block; 
  background: transparent;
}

.menu {
  display: flex;
}

.menu__item {
  margin-right: max(min(2rem, 2vw), 24px);
}

.primary-nav__link {
  display: block;
  padding: 0.5rem min(2rem, 2vw);
  color: var(--navy);
  text-decoration: none;
  border-radius: 2rem;
  outline: none;
  font-size: 1rem;
  line-height: 1.35rem;
}

.menu__item:nth-child(1){
  margin-left: auto;
}

.primary-nav__link::after {
  content: '';
  display: block;
  margin-top: 2px;
  width: 100%;
  height: 1px;
  background: transparent;
}

.primary-nav__link:hover, .primary-nav__link:focus {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.11);
  background: #0564BD;
  color: white;
}

.primary-nav__link:hover::after, .primary-nav__link:focus::after {
  background: white;
}

.nav-toggle {
  display: none;
  position:relative; 
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 12px;
  margin: 0 3rem 0 auto;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.nav-toggle svg {
  fill: var(--navy);
}

.nav-toggle:focus, .nav-toggle:hover {
  background-color: var(--blue);
}

.nav-toggle:focus svg, .nav-toggle:hover svg {
  fill: white;
}

.main {
  position: relative;
  z-index: 1; /* behind the modal newsletter sign up dialog */
  background: var(--skyblue);
}

.cta {
  margin-left: 55vmin;
  padding-top: 15vh;
  margin-right: 2rem;
  position: relative;
  z-index: 4;
}

.main__title {
  color: var(--navy);
  text-transform: uppercase;
  font-family: var(--raleway);
  font-weight: 600;
  font-size: min(max(3.5vw, 1.7rem), 2.5rem);
}

.main__text {
  color: var(--black);
  font-size: 1rem;
  margin: 15px 0 0 0;
}

.download-button {
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  background: var(--blue);
  text-decoration: none;
  border-radius: 3rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.11);
  margin: 2rem 0;
  transition: transform 0.2s;
  outline: none;
}

.download-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.download-button:hover, .download-button:focus {
  background: var(--navy);
}

.download-button::after {
  content: '';
  display: block;
  margin-top: 2px;
  width: 100%;
  height: 2px;
  background: transparent;
}

.download-button:hover::after, .download-button:focus::after {
  background: white;
}

/********* SIGN UP FORM ***********/

.newsletter-wrapper {
  position: fixed;
  z-index: 2;
  bottom: 0%;
  left: 0;
  width: 100%;
  background: #5C1D11;
  color: white;
  margin: 0;
}

.newsletter-form__minimize {
  position: absolute;
  right: 0;
  top: -30px;
  width: 64px;
  height: 30px;
  border: none;
}

.newsletter-form__minimize[aria-expanded="true"] {
  background: url(images/minimize-24px.svg) no-repeat top center/24px;
  background-color: #5C1D11;
}

.newsletter-form__minimize[aria-expanded="false"] {
  background: url(images/expand_less-24px.svg) no-repeat top center/24px;
  background-color: #5C1D11;
}

.newsletter-form__minimize[aria-expanded="true"] ~ .newsletter-dialog {
  display: grid;
  grid-column-gap: 20px;
}

.newsletter-form__minimize[aria-expanded="false"] ~ .newsletter-dialog {
  display: none;
}

.newsletter-form {
  padding: 15px 20px;
  width: 100%;
  max-width: 925px;
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas: "header signup";
  grid-template-columns: auto 1fr;
}

.newsletter-form__header {
  grid-area: header;
  font-size: 1.3rem;
  font-weight: 400;
}

.newsletter-form__text {
  height: 40px;
  padding: 10px;
  padding-right: 120px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  grid-area: signup;
}

.button-submit {
  background: #2B6129;
  border: 1px solid #2B6129;
  padding: 5px 20px;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  outline: solid 3px transparent;
}

.button-submit:focus, .button-submit:hover {
  text-decoration: underline;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow 0.2s ease;
}

.newsletter-form__submit {
  width: 100px;
  margin-right: 5px;
  height: 30px;
  grid-area: signup;
  justify-self: end;
  align-self: center;
}

.footer {
  background: #2B6129;
  color: white;
  padding: 2rem 0;
  padding-bottom: calc(70px + 2rem);
}

.footer__header, .footer__text {
  padding: 0 2rem;
}

.footer__links {
  color: #F7CA18;
}

/************** Backgrounds ***************/
.background {
  width: 100%;
}

.grasses {
  position: relative;
  z-index: 1;
  height: 40vh;
  background:
    repeating-linear-gradient(to bottom, rgba(109,187,92,0), rgba(109,187,92,0) 40%, rgba(109,187,92,1) 40%, rgba(109,187,92,1)) top left/100%,
    linear-gradient(-173deg, rgba(92,167,76,0), rgba(92,167,76,0) 34.9%, rgba(92,167,76,1) 35%, rgba(92,167,76,1)) top left/100%,
    linear-gradient(175deg, transparent, transparent 24.9%, #589A49 25%, #589A49) top left/100%; /* rgba for Safari rendering */
  background-repeat: no-repeat;
}

.bushes-giraffe {
  position: absolute; 
  left: 0; 
  bottom: 0;
  height: 40vh;
  z-index: 3;
  background: 
    url('images/flower.svg') bottom center/auto 25%,
    url('images/bushes.svg') bottom right/auto 70%,
    url('images/giraffe.svg') 100% 100%/ auto 100%;
  background-repeat: no-repeat;
}

.sloth {
  position: absolute;
  z-index: 2;
  left: 0;
  top: calc((5.85rem + 3px) * -1); /* shift up by height of nav */
  height: calc(100% + (5.85rem + 3px)); /* add height of nav */
  background: 
    url('images/sloth_in_tree.svg') 0% 0%/auto calc(100% - 18vh) no-repeat;
    /* sloth fixed to top of screen, height based on height of .main */
}

.flower {
  height: 5vh;
  background: var(--flower) center bottom/auto 100% no-repeat;
}

.page-wrapper {
  background-color: var(--skyblue);
}

body {
  min-height: 100vh;
  background-color: #2B6129;
}


.copyright {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
}

/***** ABOUT, CONTACT PAGES *****/

.content {
  width: 90%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 5vh 0;
}

.content a {
  color: #aa2e00;
  font-weight: 600;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.contact-form {
  padding-top: 3rem;
  display: grid;
  grid-template-areas:
    "description description"
    "email name"
    "message message"
    "submit submit";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.contact-form__label {
  display: block;
  font-size: 1.15rem;
  line-height: 2rem;
  width: 100%;
  padding: 0.75rem 0 0.75rem 0;
}

#contact-email {
  grid-area: email;
}

#contact-name {
  grid-area: name;
}

#contact-message {
  grid-area: message;
}

.contact-form__textarea {
  height: 6rem;
}

.contact-form__text {
  height: 3rem;
}

.contact-form__text, .contact-form__textarea {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  outline: 3px solid transparent;
  border-radius: 1.5rem;
  border: none;
  display: block;
  width: 100%;
}

.contact-form__text:focus, .contact-form__textarea:focus {
  box-shadow: 0 0 0 3px rgba(2, 0, 102, .8);
  transition: box-shadow 0.2s ease;
}

.contact-form__text.error, .contact-form__textarea.error {
  box-shadow: 0 0 0 3px rgba(255, 0, 0, .8);
}

.contact-form__submit {
  grid-area: submit;
  align-self: center;
  justify-self: center;
}

.form-errors, .contact-form-status {
  display: block;
  margin-top: 1.5rem;
}

@media only screen and (max-width:980px) {
  .main {
    width: 100%;
    text-align: center;
    z-index: 1; /* ensure behind the modal overlay (when menu is open) */
  }
  
  .content {
    text-align: left;
  }
  
  .cta {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main__title {
    font-size: 2rem;
  }
  
  .download-button {
    margin: 2rem auto;
  }
  
  .contact-form {
    padding-top: 3rem;
    display: grid;
    grid-template-areas:
      "description"
      "email"
      "name"
      "message"
      "submit";
    grid-template-columns: 1fr;

  }
  
  /**************** Mobile Menu ****************/
  body.menu-open {
    overflow-y: hidden; /* prevent scrolling */
    position: fixed; /* prevent scrolling on iOS */
    left: 0px;
    right: 0px;
  }
  
  .menu-open .wrapper {
    /* prevent page reflow for typical browser scrollbar widths */
    padding-right: 15px; 
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background: var(--black);
    opacity: 0.7;
    display: none;
  }
  
  .menu-open .modal-overlay {
    display: block;
  }
  
  .primary-nav {
    z-index: 4;
    width: 50%;
    margin-left: auto;
  }
  
  .menu {
    flex-direction: column;
    align-items: center;
  }
  
  .js .nav-toggle {
    display: block;
  }
  
  .js .menu {
    display: none;
    width: 100%;
    height: 100vh;
    background: var(--black);
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.2s;
  }
  
  .js .nav-toggle[aria-expanded="true"] ~ .menu{
    display: flex;
  }
  
  .js .nav-toggle[aria-expanded="false"] ~ .menu{
    display: none;
  }
  
  .menu__item {
    display: inline;
    margin-right: 0;
    margin-left: 0;
  }
  
  .menu__item:nth-child(1) {
    margin-left: 0;
  }
  
  .js .primary-nav__link {
    color: white;
  }
  
  .js .primary-nav__link:hover, .js .primary-nav__link:focus {
    background: none;
    box-shadow: none;
  }
  
  /**************** Mobile Backgrounds ****************/
  
  .grasses {
    background: repeating-linear-gradient(to bottom, rgba(109,187,92,0), rgba(109,187,92,0) 40%, rgba(109,187,92,1) 40%, rgba(109,187,92,1)) top left/100% no-repeat; /* rgba for Safari rendering */
  }
  
  .sloth {
    top: calc((3.5rem + 48px) * -1);
    background: 
      url(images/sloth.svg) 0% 0%/auto calc(15vh + 3.5rem + 48px) no-repeat;
  }
}

@media only screen and (max-width:825px) {
  .footer {
    padding-bottom: 2rem;
  }
  
  .footer__text {
    padding-bottom: 2rem;
  }
  
  /**************** Mobile Newsletter Form ****************/
  .newsletter-wrapper {
    padding: 0.5rem 0;
    position: relative;
    height: auto;
  }
  
  .newsletter-form {
    grid-row-gap: 0.5rem;
    grid-template-areas: 
      "header"
      "signup"
      "submit";
    grid-template-columns: auto;
  }
  
  .newsletter-form__header {
    text-align: center;
  }
  
  .newsletter-form__minimize[aria-expanded="true"] ~ .newsletter-dialog, 
  .newsletter-form__minimize[aria-expanded="false"] ~ .newsletter-dialog {
    display: block;
  }
  
  .newsletter-form__minimize {
    display: none;
  }
  
  .newsletter-form__submit {
    grid-area: submit;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}