extends templates/layout.pug

block content
  main.main
    section.content
      h1.main__title Oops!
      p.main__text.
        Looks like the page you're looking for does not exist.
    .background.flower