extends templates/layout.pug

block content
  main.main
    section.content
      h1.main__title about
      p.main__text.
        What Sound Does A Giraffe Make? is a story to encourage people of all ages to ask questions and seek answers.

      p.main__text.
        You are never too old or too young to be curious.

      p.main__text What Sound Does A Giraffe Make? is written by <a href="https://nancyhuynh.com">Nancy Huynh</a> with editing help from Diane and Eleanor Scarlett
    .background.flower