extends templates/layout.pug

block content
  main.main
    section.content
      h1.main__title contact
      span.contact-form-status
      form(action="https://formspree.io/xgenobbq" method="POST").contact-form#contact-form
        p Please fill out the form and I'll be in touch.
        label(id="contact-email").contact-form__label email address
          input(type="email" name="email").contact-form__text
        label(id="contact-name").contact-form__label name
          input(type="text" name="name").contact-form__text
        label(id="contact-message").contact-form__label message
          textarea(name="message").contact-form__textarea
        button(type="submit").contact-form__submit.button-submit submit