extends templates/layout.pug

block content
  main.main
    section.content
      h1.main__title Error
      p.main__text.
        Your email address is already on our notification list. If you previously unsubscribed or have not received an email to confirm your subscription please try <a href="http://eepurl.com/g46HIr">signing up directly on Mailchimp</a>
    .background.flower