extends templates/layout.pug

block content
  main.main
    section.content
      h1.main__title Thanks!
      p.main__text.
        Please check your email to confirm your subscription.
    .background.flower